__pycache__/
*.pyc
*.pyo
data_utils/__pycache__/
eval_inference/__pycache__/
*.pt
wandb/
wandb_csv_files/
predictions/
plot_predictions/

/data/

*.pbs
pbs_scripts/
hpc_run_logs/
pbs_scripts
hpc_run_logs


PROJECT_OVERVIEW.md
color_maps/
eval_phase4/
extended_range_eval/
gene_TF_plots/
literature/
saving_weights/
time_analysis/

src/analyse_data/
src/yamls/temp/

plots_during_training/